<mjml>
  <mj-body>
    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-style="italic" font-size="20px" color="#626262">Confirmation de votre inscription</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fafafa">
      <mj-column width="400px">
        <mj-text font-style="italic" font-size="20px" font-family="Helvetica Neue" color="#626262">Bienvenue</mj-text>

        <mj-text color="#6c757d">Bonjour {{ user.firstname }},</mj-text>

        <mj-text color="#6c757d" line-height="20px">Vous recevez ce message car votre compte vient d'être activé.
        </mj-text>

        <mj-text line-height="20px">Vous pouvez dès à présent vous connecter à l'application</mj-text>

        <mj-button background-color="#5369f8" href="{{ clientAppUrl }}">Se connecter</mj-button>
      </mj-column>
    </mj-section>

    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-style="italic" font-size="10px" color="#626262">OhMyGarde - <a href="{{ clientAppUrl }}">{{ clientAppUrl }}</a> | {{ 'now'|date('d/m/Y') }}</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
