<mjml>
  <mj-body>
    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-style="italic" font-size="20px" color="#626262">Mot de passe oublié sur OhMyGarde</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fafafa">
      <mj-column width="400px">
        <mj-text font-style="italic" font-size="20px" font-family="Helvetica Neue" color="#626262">Il semble que vous ayez oublié votre mot de passe</mj-text>
        <mj-text color="#6c757d">Bonjour
          {{ user.firstname }},</mj-text>
        <mj-text color="#6c757d" line-height="20px">Vous recevez ce message car vous venez de faire une demande de réinitialisation de mot de passe sur le site {{ clientAppUrl }}. S'il ne s'agit pas de vous, vous pouvez ignorez ce message.</mj-text>

        <mj-button background-color="#5369f8" href="{{ clientAppUrl ~ '/account/reset-password/' ~ user.tokenCode }}">Réinitialisez mon mot de passe</mj-button>
      </mj-column>
    </mj-section>

    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-style="italic" font-size="10px" color="#626262">OhMyGarde - <a href="{{ clientAppUrl }}">{{ clientAppUrl }}</a> | {{ 'now'|date('d/m/Y') }}</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
