<mjml>
  <mj-body>
    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-style="italic" font-size="20px" color="#626262">Inscription sur OhMyGarde</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fafafa">
      <mj-column width="400px">
        <mj-text font-style="italic" font-size="20px" font-family="Helvetica Neue" color="#626262">Valider l'inscription d'un utilisateur</mj-text>
        <mj-text color="#525252">Bonjour,</mj-text>
        <mj-text color="#525252" line-height="20px">
          Un utilisateu vient de s'inscrire sur l'application OhMyGarde avec les informations suivantes
        </mj-text>

        <mj-table>
          <tr>
            <td style="padding: 0 15px 0 0;">Prénom</td>
            <td style="padding: 0 15px;">{{ user.firstname }}</td>
          </tr>

          <tr>
            <td style="padding: 0 15px 0 0;">Nom</td>
            <td style="padding: 0 15px;">{{ user.lastname }}</td>
          </tr>

          <tr>
            <td style="padding: 0 15px 0 0;">Email</td>
            <td style="padding: 0 15px;">{{ user.email }}</td>
          </tr>

          <tr>
            <td style="padding: 0 15px 0 0;">Numéro de téléphone</td>
            <td style="padding: 0 15px;">{{ user.phoneNumber }}</td>
          </tr>

          <tr>
            <td style="padding: 0 15px 0 0;">Type d'utilisateur</td>
            <td style="padding: 0 15px;">{{ user.roleAsString }}</td>
          </tr>

          <tr>
            <td style="padding: 0 15px 0 0;">Région</td>
            <td style="padding: 0 15px;">{{ user.region.name }}</td>
          </tr>
        </mj-table>

        <mj-button background-color="#858586" href="{{ clientAppUrl }}">Valider ce compte</mj-button>

    </mj-section>

    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-style="italic" font-size="10px" color="#626262">OhMyGarde - <a href="{{ clientAppUrl }}">{{ clientAppUrl }}</a> | {{ 'now'|date('d/m/Y') }}</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
