<mjml>
  <mj-body>
    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-style="italic" font-size="20px" color="#626262">Demande d'attribution de garde</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fafafa">
      <mj-column width="400px">

        <mj-text color="#6c757d">Bonjour {{ user.firstname }},</mj-text>

        <mj-text color="#6c757d" line-height="20px">Une demande de garde vous a été faite :.
        </mj-text>
        <mj-text>Horaires : {{ guard.day }} de {{ guard.hour.name }}</mj-text>
        <mj-text>Pharmacie : {{ guard.pharmacy.name }} </mj-text>

        <mj-text line-height="20px">Vous pouvez dès à présent confirmer cette demande de garde :</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fafafa">
      <mj-column width="200px">
        <mj-button background-color="green" href="{{ clientAppUrl }}/guard/confirm/{{user.id}}/{{guard.id}}">Accepter</mj-button>
      </mj-column>
    </mj-section>

    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-style="italic" font-size="10px" color="#626262">OhMyGarde - <a href="{{ clientAppUrl }}">{{ clientAppUrl }}</a> | {{ 'now'|date('d/m/Y') }}</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
