<mjml>
  <mj-body>
    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-style="italic" font-size="20px" color="#626262">Acceptation de garde</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fafafa">
      <mj-column width="400px">

        <mj-text color="#525252">Bonjour {{ user.firstname }},</mj-text>

        <mj-text color="#525252" line-height="20px">La demande de garde suivante vous a bien été attribuée :
        </mj-text>
        <mj-text>Horaires : {{ day }} de {{ guard.hour.name }}</mj-text>
        <mj-text>Pharmacie : {{ guard.pharmacy.name }} </mj-text>

      </mj-column>
    </mj-section>

    <mj-section background-color="#f0f0f0">
      <mj-column>
        <mj-text font-style="italic" font-size="10px" color="#626262">OhMyGarde - <a href="{{ clientAppUrl }}">{{ clientAppUrl }}</a> | {{ 'now'|date('d/m/Y') }}</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
